$primary-color: #FF7A00;
$first-color: #80BF1E;
$second-color: rgb(255, 199, 0);
$third-color: #00BCB1;
$bg-color: #fff;
$text-color: #1a1a1a;
$text-color-white: #fff;
$dark-color: #1A1A1A;
$gray-color: #F5F6F6;


$font-primary: 'Open Sans', Arial, sans-serif;
$font-secondary: 'Lilita One', cursive;



$t-time: 300ms;
$t-ease: ease-in-out;
