$primary-color: #FF7A00;
$first-color: #80BF1E;
$second-color: rgb(255, 199, 0);
$third-color: #00BCB1;
$fourth-color: rgb(0, 171, 225);
$fifth-color: #774CBE;
$sixth-color:rgb(219, 81, 81);
$seventh-color:  #415ADE;
$eighth-color: #44AA4E;
$price-bg: #5870ED;
$bg-color: #fff;
$text-color: #1a1a1a;
$text-color-white: #fff;
$dark-color: #1A1A1A;
$gray-color: #F5F6F6;

$form-color: #fff;


$font-primary: 'Open Sans', Arial, sans-serif;
$font-secondary: 'Lilita One', cursive;



$t-time: 300ms;
$t-ease: ease-in-out;
